<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ThiTracNghiem_CSDL_PT.Properties.Settings.THI_TNConnectionString"
      connectionString="Data Source=DESKTOP-00R6U3E;Initial Catalog=THI_TN;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="ThiTracNghiem_CSDL_PT.Properties.Settings.TN_CSDLPTConnectionString"
      connectionString="Data Source=DESKTOP-00R6U3E;Initial Catalog=TN_CSDLPT;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ThiTracNghiem_CSDL_PT.Properties.Settings.testSql1ConnectionString"
      connectionString="Data Source=DESKTOP-00R6U3E;Initial Catalog=testSql1;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>